<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/controllers/controller.js"></script>
    <link href="/public/css/createPoll.css" rel="stylesheet" type="text/css">
</head>

<body>
<input type="text" id="poll"/>
<button type="submit" id="createPoll" class="btn">create</button>
<br/>
<button type="submit" id="addAnswer" class="btn">add Answer</button>
<script type="text/javascript" src="/controllers/createPollController.js"></script>
</body>
</html>